{% extends 'base.html.twig' %}

{% block body %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <br/><br/>


  <h1>Saisie des frais</h1>
  </br><hr/>
  <form method='Post' action='{{path('choixfiche')}}'>
    <div class="container">
      <span class="align-middle">
      <div class="row">
        <div class="col-sm-1">
          <h5>Filtrer :</h5>
        </div>
        <div class="col-sm-3">
          <!-- Affiche une liste déroulante permettant d'afficher une liste déroulante -->
          <select class='form-control' name='mois'>
            <option value='00' selected>Tous</option>
            <option value='01'>Janvier</option> 
            <option value='02'>Février</option> 
            <option value='03'>Mars</option>
            <option value='04'>Avril</option>
            <option value='05'>Mai</option>
            <option value='06'>Juin</option> 
            <option value='07'>Juillet</option> 
            <option value='08'>Août</option>
            <option value='09'>Septembre</option>
            <option value='10'>Octobre</option>
            <option value='11'>Novembre</option>
            <option value='12'>Décembre</option> 
          </select>
        </div>
        <div class="col-sm-1">
          <button type='submit' class="btn btn-primary">Valider</button>  
        </div>
        <div class="col-sm-6"> <!-- Colonne vide permettant de séparer les champs -->
        </div>
        <div class="col-sm-1">
          <a href='{{ path("ajouterFiche") }}' type='button'  class="btn btn-success">Ajouter</a>
        </div>
      </div>
    </div>
  </form>
      
  <br/>

  <!-- Affiche un message lors d'ajout de fiche -->
  {% for message in app.flashes('success') %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}

  {% for message in app.flashes('warning') %}
    <div class="alert alert-warning">
      {{ message }}
    </div>
  {% endfor %}

  {% if fiches is empty %}
    <h4>Il n'y a pas de fiche enregistrée pour ce mois-ci</h4>
  {% else %}
  

  <br/>
  <!-- Tableau qui affiche  les fiches du visiteur connecté -->
  <table class="table table-light">
    <thead class="thead-light">
      <tr>
        <th scope="col">Date de création</th>
        <th scope="col">Date de modification</th>
        <th scope="col">Montant remboursé</th>
        <th scope="col">Etat</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for uneFiche in fiches %}
        {% if idVisiteur == uneFiche.idVisiteur.id %}
          <tr>
            <th scope="row">{{uneFiche.dateCreation|date("d-m-Y")}}</th>
            <td>{{uneFiche.dateModif|date("d-m-Y")}}</td>
            <td> {{uneFiche.montantRembourse}}</td>
            <td>{{uneFiche.idEtat.libelle}}</td>    
            <td> <!-- Le "if" dans la balise "a" permet d'afficher le bouton "Editer" seulement si la fiche n'est pas clôturée -->
              <a href="{{path('accueil', {id : uneFiche.id})}}" type='button' class="btn btn-warning"  {% if uneFiche.idEtat.id != 3 %} hidden {% endif %}>Editer</a>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}
